@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mate:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin-top: 100px;
  padding: 0;
  background-color: #edeeff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-container {
  margin-top: 150px;
}

.content {
  width: 750px;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Mate";
}

p {
  font-family: "Raleway";
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  font-family: "Raleway";
}

.form-button {
  width: 142px;
  height: 41px;
  border-radius: 11px;
  border-color: #ffffff;
  background-color: #8084bc;
  text-align: center;
  color: #edeeff;
  font-size: 17px;
}

.form-input {
  width: 30;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  transition: border-color 0.3s;
}
